/* screen size: 1280 x 1024 */
@font-face {
    font-family: "Mission Script";
    src: url(Mission-Script.otf) format("opentype");
    font-family: "Open Sans Semibold";
    src: url(OpenSans-Semibold.ttf) format("truetype");
}
body {
    background-color: #f2f2f2;
    font-size:16px;
    padding:0;
    font-family: "Open Sans Semibold", Helvetica, sans-serif;
    color:#636266;
    margin-top: 5px;
}
img.logo {
    position: relative;
    top: 20px;
}
p.userGroup {
    font-style: italic;
    top: -18px;
    position: relative;
}
a {
    color:#2d3a4e;
    text-decoration: none;
}
header {
    text-align: center;
    background-color: white;
    border-bottom: #ed584e;
    border-bottom-style: double;
    border-width: 7px;
}
section {
	margin:0 auto;
    position: relative;
    text-align: center;
    overflow-y: hidden;
    width: 80%;
}
.columnLeft, .columnRight {
    width: 48%;
    float: left;
    margin: 1% 1% 0 0;
}
